<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoApp JavaScript | CodingTesla</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/toDoAppVue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        .pointer {
            cursor: pointer;
        }
        
        .pend {
            color: red;
            text-decoration: underline;
            text-decoration-style: dotted;
        }
        
        .progrss {
            color: orange;
            font-family: cursive;
            text-transform: uppercase;
            text-decoration-style: solid;
        }
        
        .finished {
            color: olive;
            text-decoration: underline overline line-through;
            text-decoration-style: double;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <header>ToDoApp</header>

        <div id="to-do-url">
            <input v-model="myItem" type="text">
            <span>
                <a :disabled="myItem.length===0" :href="myItem" class="link-dark"
                    style="font-size: 18px; font-weight: 700; color:  #000; float: right;" target="_blank">Search To
                    Do</a>
            </span>
        </div>
        <div id="myVueItem">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center" id="myVue">
                    <div class="col-10">
                        <div v-if="!isEditing">
                            <input type="text" v-model="todo" placeholder="Add Your New ToDo">
                        </div>
                        <div v-else>
                            <input type="text" v-model="todo" placeholder="Add Your New ToDo">
                        </div>
                    </div>
                    <div class="col-2 bttn">
                        <div v-if="!isEditing">
                            <button class="btn btn-default btn-dark" type="button" value="Add" @click="storeTodo">Add Task</button>
                        </div>
                        <div v-else>
                            <button class="btn btn-default btn-dark" type="button" value="Update" @click="storeTodo">Edit Task</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="alert alert-warning alert-dismissible fade" role="alert" id="alert-box" style="display: none">
                    <strong>Opps!</strong> Field is empty or activity exists.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-xxl-6">
                        <ul>
                            <li v-for="(todo, index) in todos" :class="{finished : todo.finished}" style="margin: 5px 0;">
                                <div style="display: flex; flex-direction:row; justify-content: space-evenly; width: 100%;">
                                    <div style="width: 70%;">
                                        {{ firstCharUpper(todo.label) }}
                                    </div>
                                    <div style="float: left; position: left; margin-right: 5px;">
                                        <button class="btn btn-default btn-outline-warning" @click="editTodo(index)">Edit</button>
                                    </div>
                                    <div style="float: right; position: right; margin-left: 5px;">
                                        <button class="btn btn-default btn-danger" @click="deleteTodo(index)">Delete</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-6">
                        <ol>
                            <li v-for='todo in sortedArray'>
                                {{firstCharUpper(todo.label)}}</li>
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <ol>
                            <li v-for='todo in reversedItems'>
                                {{firstCharUpper(todo.label)}}</li>
                        </ol>
                    </div>
                </div>
            </div>





            <!-- Todo Table -->
            <div class="table-responsive">
                <table class="table table-success table-striped table-bordered border-dark mt-5">
                    <thead>
                        <tr>
                            <th scope="col">To-Do</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">Edit</th>
                            <th scope="col" class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(todo, index) in todos" :key="index">
                            <td>
                                <span :class="{ progrss: todo.status === 'in-progress', pend: todo.status === 'to-do', finished: todo.status === 'finished' }">{{
                    firstCharUpper(todo.label)
                }}</span>
                            </td>
                            <td style="max-width: 120px">
                                <span @click="changeStatus(index)" class="pointer" :class="{
                    'text-danger': todo.status === 'to-do',
                    'text-warning': todo.status === 'in-progress',
                    'text-success': todo.status === 'finished',
                    }">
                    {{ firstCharUpper(todo.status) }}
                </span>
                            </td>
                            <td style="max-width: 50px">
                                <div class="text-center text-warning" @click="editTodo(index)">
                                    <span class="fa fa-pencil-alt"></span>
                                </div>
                            </td>
                            <td style="max-width: 50px">
                                <div class="text-center text-danger" @click="deleteTodo(index)">
                                    <span class="fa fa-trash"></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>






        </div>
        <div class="inputField">
            <input type="text" placeholder="Add Your ToDo">
            <button><i class="fas fa-plus"></i></button>
        </div>
        <ul class="toDoList">
            <!-- Data Comes From Local Storage -->
        </ul>
        <div class="footer">
            <span>You Have <span class="pendingNum"></span> Pending Tasks</span>
            <button>Clear All</button>
        </div>
    </div>

</body>
<script src="scripts/toDoAppVue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script>
    {
        let toDoList = new Vue({
            el: '#to-do-url',
            data: {
                myItem: ''
            }
        });
    } {
        new Vue({
            el: '#myVueItem',
            data() {
                return {
                    isEditing: false,
                    availableStatuses: ["to-do", "in-progress", "finished"],
                    selectedIndex: null,
                    todo: '',
                    todos: [{
                        label: 'Marketing',
                        status: "to-do",
                    }, {
                        label: 'Cycling',
                        status: "in-progress",
                    }, {
                        label: 'Banking',
                        status: "finished",
                    }]
                }
            },
            computed: {
                reversedItems() {
                    return this.todos.slice(0).reverse();
                },
                sortedItems() {
                    this.todos.slice().sort(function(a, b) {
                        return (a.label > b.label) ? 1 : -1;
                    });
                    return this.todos;
                },
                sortedArray: function() {
                    function compare(a, b) {
                        if (a.label < b.label)
                            return -1;
                        if (a.label > b.label)
                            return 1;
                        return 0;
                    }

                    return this.todos.sort(compare);
                },
                isEmpty: ({
                    todos
                }) => todos.length === 0
            },
            methods: {
                storeTodo() {
                    if (this.todo.length === 0) return;
                    if (this.selectedIndex == null) {
                        this.todos.push({
                            label: this.todo,
                            status: "to-do",
                        });
                    } else {
                        this.todos[this.selectedIndex].label = this.todo;
                        this.selectedIndex = null;
                    }
                    this.todo = "";
                },
                editTodo(index) {
                    this.isEditing = true
                    this.todo = this.todos[index].label;
                    this.selectedIndex = index;
                },
                updateTodo() {
                    this.todos.splice(this.selectedIndex, 1, this.todo)
                    this.isEditing = false
                    this.todo = ''
                },
                changeStatus(index) {
                    let newIndex = this.availableStatuses.indexOf(this.todos[index].status);
                    if (++newIndex > 2) newIndex = 0;
                    this.todos[index].status = this.availableStatuses[newIndex];
                },
                firstCharUpper(str) {
                    return str.charAt(0).toUpperCase() + str.slice(1);
                },
                deleteTodo(index) {
                    this.todos.splice(index, 1);
                }
            }
        })
    }
</script>

</html>