@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (min-width: 888px) {
    body {
        height: 100vh;
        width: 100%;
        background: repeating-radial-gradient(red, yellow 5%, green 10%), #cccccc;
    }
    .wrapper {
        margin: 120px auto;
        max-width: 450px;
        width: 100%;
        background: linear-gradient(to bottom, #68eacc 0%, #497BE8 100%), #fff;
        border-radius: 5px;
        padding: 25px;
    }
    .wrapper #to-do-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 72px;
        margin: 20px 0;
    }
    .url-span {
        width: 20%;
    }
    .url-input {
        border-radius: 3px;
        outline: none;
        width: 80%;
        font-size: 17px;
        height: 100%;
        border: 1px solid #ccc;
        margin-right: 5px;
    }
    .wrapper #myVue {
        display: flex;
        width: 100%;
        height: 50px;
        margin: 20px 0;
    }
    #to-do-list input {
        outline: none;
        height: 100%;
        border: 1px solid #ccc;
        font-size: 17px;
        border-radius: 3px;
        padding-left: 15px;
    }
    #myVue input {
        outline: none;
        width: 85%;
        height: 100%;
        border: 1px solid #ccc;
        font-size: 17px;
        border-radius: 3px;
        padding-left: 15px;
    }
}

.wrapper .header {
    font-size: 30px;
    font-weight: 600;
}

.wrapper .inputField {
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}

.inputField input {
    outline: none;
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
}

.inputField button {
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: #8e49e8;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: none;
}

.inputField button.active {
    opacity: 1;
    pointer-events: auto;
}

.wrapper .toDoList {
    max-height: 250px;
    overflow-y: auto;
}

.toDoList li {
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}

.toDoList li span {
    position: absolute;
    right: -45px;
    color: rgb(255, 255, 255);
    width: 45px;
    text-align: center;
    background: #e74c3c;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toDoList li:hover span {
    right: 0px;
}

.wrapper .footer {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 25px;
    justify-content: space-between;
}

.footer button {
    border: none;
    outline: none;
    background: #8e49e8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 10px;
    opacity: 0.6;
    pointer-events: none;
}

.footer button.active {
    opacity: 1;
    pointer-events: auto;
}

@media only screen and (min-width: 0px) and (max-width: 888px) {
    body {
        background: repeating-radial-gradient(red, yellow, green), #cccccc;
    }
    .wrapper {
        background: linear-gradient(to bottom, #68eacc 0%, #497BE8 100%), #fff;
        margin: 60px 0;
        width: 100%;
        border-radius: 3px;
        padding: 20px;
    }
}